
.chapter-style {
    border: 1px solid #607d8b;
    padding: 10px;
    margin: 20px 10px;
    border-radius: 10px;

    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.chapter-title{
    padding: 5px 0;
    border-radius: 10px;
    cursor: pointer;
    /* open or close smooth */
    
}
.book-card-title{
    padding: 20px 0;
    cursor: pointer;
}
.video-link {
    margin: 1rem 0;
}

#video {
    z-index: 100;
    background-color: #78909cd3;
    position: absolute;
    top: 64px;
    left: 0;
    right: 0;
    height: 85dvh;
}

.fixed-action-btn {
    position: fixed;
    right: 4px;
    top: 54px;
}
.video-link{
    cursor: pointer;
}